.container {
  width: 70%;
  margin: 0 auto;
}

/* Buttons */
.btn {
  border-radius: 0.3em;
  font-size: 0.87rem;
}
.btn:hover {
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #FFB240;
  font-size: 3.2rem;
  letter-spacing: 0.03em;
}

h2 {
  color: #272727;
  font-size: 2rem;
}

p {
  color: #272727;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header style */
.header {
  background: #151515;
  position: relative;
  height: 100vh;
  /* Header Offer */
}
.header .honey-img {
  position: absolute;
  right: 2px;
}
.header .honey-img .honey {
  height: 100vh;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 2.7em;
}
.header .nav .link {
  color: #FFB240;
  font-size: 0.87rem;
}
.header .nav .link:hover {
  color: #f6c780;
}
.header .nav .nav-links {
  display: flex;
  gap: 3em;
  z-index: 3;
}
.header .nav .number {
  z-index: 3;
}
.header .offer {
  margin-top: 14em;
}
.header .offer .title {
  padding-bottom: 0.8em;
  z-index: 3;
}
.header .offer .btn-hero {
  background: #FFB240;
  padding: 1em 3.3em;
  color: #272727;
}

/* Catalog section style */
.catalog {
  padding: 11em 0 11em;
  /* Items Cards */
  /* Button */
}
.catalog .catalog-list {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  border-bottom: 0.7px solid #000;
}
.catalog .catalog-list .list-element {
  color: #272727;
  font-size: 1.4rem;
  transition: all 0.2s ease;
  padding-bottom: 1em;
}
.catalog .catalog-list .list-element:hover {
  color: #FFB240;
}
.catalog .catalog-items-pics {
  padding-top: 1.5em;
  margin-bottom: 2.7em;
  display: flex;
  justify-content: space-between;
}
.catalog .catalog-items-pics .item-card {
  width: 270px;
  height: 370px;
  box-shadow: 0px 20px 50px #E5E5E5;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.catalog .catalog-items-pics .item-card:hover {
  opacity: 0.8;
  cursor: pointer;
}
.catalog .catalog-items-pics .item-card .pic {
  width: 100%;
  height: 275px;
  border-radius: 5px 5px 0 0;
}
.catalog .catalog-items-pics .item-card .item-text {
  padding: 1.5em 1em;
}
.catalog .catalog-items-pics .item-card .item-text .price {
  font-weight: bold;
  padding-top: 0.5em;
}
.catalog .btn-catalog {
  border: solid #000;
  color: #272727;
  float: right;
  padding: 17px 35px;
  transition: all 0.2s ease;
}
.catalog .btn-catalog:hover {
  border-color: #FFB240;
  color: #FFB240;
}

/* Section About style */
.about {
  padding: 11.3em 0;
}
.about .container {
  display: flex;
  justify-content: space-between;
  /* Left side */
  /* Right side */
}
.about .container span {
  color: #FFB240;
}
.about .container .title {
  margin-bottom: 2em;
}
.about .container .weeks {
  display: flex;
  justify-content: space-between;
}
.about .container .weeks .time {
  font-size: 1.2rem;
  line-height: 1.8em;
}
.about .container .weeks .weeks-left {
  margin-right: 6em;
}
.about .container .weeks .weeks-right .time-small {
  font-size: 10px;
  float: right;
}
.about .container .weekends {
  margin-top: 2.5em;
}
.about .container .weekends .day {
  color: #919191;
}
.about .container .map {
  margin-top: 2em;
  width: 33em;
}

/* Footer */
.footer {
  background-color: #151515;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 136px 0;
}
.footer .container .title p {
  font-size: 20px;
  font-weight: bold;
}
.footer .container .numbers {
  display: flex;
  flex-direction: column;
}
.footer .container .information {
  line-height: 1.5;
}
.footer p {
  color: #FFB240;
  line-height: 1.5;
}
.footer a {
  color: #FFB240;
  line-height: 1.5;
  font-size: 1rem;
}
.footer a:hover {
  color: #f6c780;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */